<a href="https://colab.research.google.com/github/rifinote/Joao-Paulo/blob/main/LeitosSUSpiaui3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Leitos_CNES_PI_Completo_2016_2022.csv')

# **DATAFRAME**

In [ ]:
df.head(10)

,Unnamed: 0,Competência,Ano,Mes,Código,Categoria,Descrição,Existente,SUS,%Ocupação,Geocodigo,População,País,Estado,Município,Mesoregião,Regional de Saúde
0,0,2016-01-20,2016,1,33,Clinico,CLINICA GERAL,8,8,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
1,1,2016-01-20,2016,1,45,Pediatrico,PEDIATRIA CLINICA,7,7,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
2,2,2016-02-20,2016,2,33,Clinico,CLINICA GERAL,8,8,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
3,3,2016-02-20,2016,2,45,Pediatrico,PEDIATRIA CLINICA,7,7,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
4,4,2016-03-20,2016,3,33,Clinico,CLINICA GERAL,8,8,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
5,5,2016-03-20,2016,3,45,Pediatrico,PEDIATRIA CLINICA,7,7,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
6,6,2016-04-20,2016,4,33,Clinico,CLINICA GERAL,8,8,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
7,7,2016-04-20,2016,4,45,Pediatrico,PEDIATRIA CLINICA,7,7,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
8,8,2016-05-20,2016,5,33,Clinico,CLINICA GERAL,8,8,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios
9,9,2016-05-20,2016,5,45,Pediatrico,PEDIATRIA CLINICA,7,7,1.0,220010,5165,Brasil,PI,Agricolândia,Centro-Norte Piauiense,Entre Rios

In [ ]:
df.tail(10)

,Unnamed: 0,Competência,Ano,Mes,Código,Categoria,Descrição,Existente,SUS,%Ocupação,Geocodigo,População,País,Estado,Município,Mesoregião,Regional de Saúde
48562,48562,2022-10-20 00:00:00,2022,10,10,Obstetrico,OBSTETRICIA CIRURGICA,4,4,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48563,48563,2022-10-20 00:00:00,2022,10,45,Pediatrico,PEDIATRIA CLINICA,3,3,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48564,48564,2022-11-20 00:00:00,2022,11,3,Cirurgico,CIRURGIA GERAL,8,8,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48565,48565,2022-11-20 00:00:00,2022,11,33,Clinico,CLINICA GERAL,4,4,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48566,48566,2022-11-20 00:00:00,2022,11,10,Obstetrico,OBSTETRICIA CIRURGICA,4,4,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48567,48567,2022-11-20 00:00:00,2022,11,45,Pediatrico,PEDIATRIA CLINICA,3,3,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48568,48568,2022-12-20 00:00:00,2022,12,3,Cirurgico,CIRURGIA GERAL,8,8,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48569,48569,2022-12-20 00:00:00,2022,12,33,Clinico,CLINICA GERAL,4,4,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48570,48570,2022-12-20 00:00:00,2022,12,10,Obstetrico,OBSTETRICIA CIRURGICA,4,4,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas
48571,48571,2022-12-20 00:00:00,2022,12,45,Pediatrico,PEDIATRIA CLINICA,3,3,1.0,221170,4479,Brasil,PI,Wall Ferraz,Sudeste Piauiense,Vale Do Rio Guaribas

In [ ]:
print(df.iloc[0])

Unnamed: 0                                0
Competência                      2016-01-20
Ano                                    2016
Mes                                       1
Código                                   33
Categoria                           Clinico
Descrição                     CLINICA GERAL
Existente                                 8
SUS                                       8
%Ocupação                               1.0
Geocodigo                            220010
População                              5165
País                                 Brasil
Estado                                   PI
Município                      Agricolândia
Mesoregião           Centro-Norte Piauiense
Regional de Saúde                Entre Rios
Name: 0, dtype: object

In [ ]:
print(df['Existente'])

0        8
1        7
2        8
3        7
4        8
        ..
48567    3
48568    8
48569    4
48570    4
48571    3
Name: Existente, Length: 48572, dtype: int64

In [ ]:
print(df.loc[2, 'Existente'])

8

# **EXCLUINDO COLUNAS**

In [ ]:
df = df.drop('Mes', axis=1)

In [ ]:
df = df.drop('Código', axis=1)

In [ ]:
df = df.drop('Descrição', axis=1)

In [ ]:
df = df.drop('%Ocupação', axis=1)

In [ ]:
df = df.drop('Geocodigo', axis=1)

In [ ]:
df = df.drop('País', axis=1)

In [ ]:
df = df.drop('Mesoregião', axis=1)

In [ ]:
df = df.drop('Regional de Saúde', axis=1)

In [ ]:
df = df.drop('Categoria', axis=1)

In [ ]:
df

,Unnamed: 0,Competência,Ano,Existente,SUS,População,Estado,Município
0,0,2016-01-20,2016,8,8,5165,PI,Agricolândia
1,1,2016-01-20,2016,7,7,5165,PI,Agricolândia
2,2,2016-02-20,2016,8,8,5165,PI,Agricolândia
3,3,2016-02-20,2016,7,7,5165,PI,Agricolândia
4,4,2016-03-20,2016,8,8,5165,PI,Agricolândia
...,...,...,...,...,...,...,...,...
48567,48567,2022-11-20 00:00:00,2022,3,3,4479,PI,Wall Ferraz
48568,48568,2022-12-20 00:00:00,2022,8,8,4479,PI,Wall Ferraz
48569,48569,2022-12-20 00:00:00,2022,4,4,4479,PI,Wall Ferraz
48570,48570,2022-12-20 00:00:00,2022,4,4,4479,PI,Wall Ferraz
48571,48571,2022-12-20 00:00:00,2022,3,3,4479,PI,Wall Ferraz

# **FILTRAGEM DO MUNICIPIO DE TERESINA**

In [ ]:
df.query('Município=="Teresina"')

,Unnamed: 0,Competência,Ano,Existente,SUS,População,Estado,Município
42253,42253,2016-01-20 00:00:00,2016,26,7,854589,PI,Teresina
42254,42254,2016-01-20 00:00:00,2016,47,35,854589,PI,Teresina
42255,42255,2016-01-20 00:00:00,2016,372,272,854589,PI,Teresina
42256,42256,2016-01-20 00:00:00,2016,4,2,854589,PI,Teresina
42257,42257,2016-01-20 00:00:00,2016,16,6,854589,PI,Teresina
...,...,...,...,...,...,...,...,...
46744,46744,2022-12-20 00:00:00,2022,53,37,871126,PI,Teresina
46745,46745,2022-12-20 00:00:00,2022,42,37,871126,PI,Teresina
46746,46746,2022-12-20 00:00:00,2022,17,17,871126,PI,Teresina
46747,46747,2022-12-20 00:00:00,2022,3,3,871126,PI,Teresina
46748,46748,2022-12-20 00:00:00,2022,4,4,871126,PI,Teresina

In [ ]:
df.query("Ano == 2016")

,Unnamed: 0,Competência,Ano,Existente,SUS,População,Estado,Município
0,0,2016-01-20,2016,8,8,5165,PI,Agricolândia
1,1,2016-01-20,2016,7,7,5165,PI,Agricolândia
2,2,2016-02-20,2016,8,8,5165,PI,Agricolândia
3,3,2016-02-20,2016,7,7,5165,PI,Agricolândia
4,4,2016-03-20,2016,8,8,5165,PI,Agricolândia
...,...,...,...,...,...,...,...,...
48279,48279,2016-11-20 00:00:00,2016,3,3,4436,PI,Wall Ferraz
48280,48280,2016-12-20 00:00:00,2016,8,8,4436,PI,Wall Ferraz
48281,48281,2016-12-20 00:00:00,2016,4,4,4436,PI,Wall Ferraz
48282,48282,2016-12-20 00:00:00,2016,4,4,4436,PI,Wall Ferraz
48283,48283,2016-12-20 00:00:00,2016,3,3,4436,PI,Wall Ferraz

# **SOMA DOS LEITOS POR DIA DE CADA ANO**

In [ ]:
SomaDosDia = df.groupby('Ano', as_index = False) ['Existente'].sum()
SomaDosDia

    Ano  Existente
0  2016      94479
1  2017      97326
2  2018      97646
3  2019      97221
4  2020     105113
5  2021     109793
6  2022     105735